@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Gotham';
	src: url('../assets/fonts/Gotham-Book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham';
	src: url('../assets/fonts/Gotham-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham';
	src: url('../assets/fonts/Gotham-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	color: #0f172a;
	background-color: #f4f5f7;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	background: #f4f5f7;
	font-family: 'Gotham', Tahoma, sans-serif;
}
